.milkdrop-visualizer-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

.visualizer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.visualizer-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}